<table class="table">
    <thead>
        <tr>
            <th scope="col">Stt</th>
            <th scope="col">Product name</th>
            <th scope="col">Product description</th>
            <th scope="col">Product price</th>
            <th scope="col">Product quantity</th>
            <th scope="col">Product image</th>
            <th scope="col">Product category</th>
            <th scope="col">Product brand</th>
        </tr>
    </thead>
</table>